# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Bağımlılıklar
node_modules

# Derlenmiş dosyalar
dist
dist-ssr

# Editör dosyaları
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ortam değişkenleri (GİZLİ)
.env
*.local